html {
    font-family: 'Poppins', sans-serif;
}

#titulo {
    font-size: 1.5rem;
    background-color: #364552 ;
    color: white;
    padding: 3rem 2rem;
    text-align: center;
    transition: box shadow 0.3s ease;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #efefef;;
}

section {
    background-color: white;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: solid white;
    border-radius: 5px;
}

section img {
    width: 400px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 0.5rem;
}

section:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 30%);
    cursor: pointer; 
}

#opciones {
    color:white;
    background-color: #364552;
    float: left;
    text-align: left;
    padding: 5px;
    margin-right: 5px;
}

#opciones a{
    color:white;
    text-decoration: none;
}

#opciones p {
    text-decoration: underline;
}
