html { 
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #364552 ;
    color: white;
    padding: 3rem 2rem;
    
}

header h1 {
    font-size: 3rem;
    text-align: center;
    
}

#cursor {
    cursor: pointer;
}

body {
    margin: 0;
    background-color: #efefef;
}

.container {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 0.5rem;
}


.titulo2 {
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5px;
}

img {
    width: 400px;
    margin: auto;
}

section{
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section p {
    margin: 1rem;
}

section:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 30%);
    cursor: pointer; 
}

#top {
    margin-top: 7px;
}

#opciones {
    color: white;
    background-color: #364552;
    padding: 1rem;
    padding-right: 6rem;
    margin: 5px;
    float: left;
}

#opciones a{
    color:white;
    text-decoration: none;
}

#opciones p {
    text-decoration: underline;
}

#opciones a:hover {
    color: cornflowerblue;
    transition: color 0.6 ease;
}

#last{
    margin-bottom: 2rem;
}

footer{
    text-align: center;
    margin-top: 2rem;
    background-color: #364552 ;
    color: white;
    padding: 3rem 2rem;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
    transition: color 0.6 ease;
}